[Desktop Entry]
Name=Trojitá
GenericName=IMAP E-mail Client
TryExec=trojita
Exec=trojita
Terminal=false
Type=Application
Icon=trojita
Categories=Qt;Office;Network;Email;
StartupNotify=true
