[Desktop Entry]
Encoding=UTF-8
Name=Trojitá
Comment=IMAP E-mail Client
GenericName=IMAP E-mail Client
Exec=trojita
Terminal=false
Type=Application
Icon=trojita
Categories=Network;Email;
StartupNotify=false
