[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Trojitá
Name[bs]=Trojitá
Name[cs]=Trojitá
Name[da]=Trojitá
Name[de]=Trojitá
Name[el]=Trojitá
Name[es]=Trojitá
Name[et]=Trojitá
Name[fi]=Trojitá
Name[fr]=Trojitá
Name[ga]=Trojitá
Name[gl]=Trojitá
Name[hu]=Trojitá
Name[is]=Trojitá
Name[it]=Trojitá
Name[lt]=Trojitá
Name[mr]=ट्रोजिटा
Name[nl]=Trojitá
Name[pl]=Trojitá
Name[pt]=Trojitá
Name[pt_BR]=Trojitá
Name[ro]=Trojitá
Name[sk]=Trojitá
Name[sv]=Trojitá
Name[tr]=Trojitá
Name[uk]=Trojitá
Name[x-test]=xxTrojitáxx
Name[zh_TW]=Trojitá
Exec=/usr/bin/single-instance /opt/trojita-tp/bin/trojita-tp
Icon=/usr/share/icons/hicolor/80x80/apps/trojita-tp80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
