*{
  margin:0;
  padding:0;
  border:none;
}

html,body{
  background:#fff;
  font:12px sans-serif;
  width:100%;
  height:100%;
  color:#222;
}

a, a:link, a:visited{
    color:#189ee4;
    text-decoration:none;
    font-weight:bold;
    }

a:hover{
    color:#45bcf6;
    }

#wrapper{
  width:100%;
  min-width:950px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#wrapper-welcome{
  width:100%;
  min-width:450px;
  margin: 0 auto -4em;
  font: 14px sans-serif;
}

#header{
  background:#bae9ff;
  width:100%;
  height:100px;
  border-bottom:5px solid #e5f7ff;
}

#header h1{
  text-indent:-9999px;
  float:left;
  display:block;
  width:267px;
  height:86px;
  margin:14px 0 0 20px;
  background-image:url("img/logo.png");
}

#header h2{
  display:none;
}

ul{
  list-style-position:inside;
  list-style-image: url("img/li.png");
}

ul#menu{
  display:block;
  float:right;
  list-style:none;
  height:16px;
  margin:73px 37px 0 0;
}

ul#menu li{
  float:left;
  font-size:16px;
  margin:0;
  text-transform:lowercase;
  letter-spacing:2px;
  font-weight:bold;
}

ul#menu li a, ul#menu li a:link, ul#menu li a:visited{
  text-decoration:none;
  color:#1da2e8;
  padding:0.2em 0.5em 0 0.5em;
  border-bottom:7px solid #bae9ff;

}

ul#menu li a:hover{
  color:#33b5f5;
  border-bottom:7px solid #1da2e8;
}

ul#menu li.active a{
  border-bottom:12px solid #e5f7ff;
  border-top:5px solid #33b5f5;
  background:#e5f7ff;
  color:#33b5f5;
}

div#pagecontent{
 /*   width:990px;*/
    margin:3em;
}

h1{
    color:#1ea3e9;
    margin:1em 0 0.5em 0;
    font-size:2em;
}

h2{
    color:#55afe1;
    margin:1em 0 0.5em 0;
    font-size:1.7em;
}

h3{
    color:#69caf9;
    margin:1em 0 0.5em 0;
    font-size:1.4em;
}

p{
    margin-bottom:1em;
}

code{
    background:#e2f6ff;
    border:1px solid #a2e1ff;
    padding:0.5em;
    margin:1em 0 1em 0;
    color: #226688;
    display:table-cell;
    font-family:monospace;
}

div.push{
    height: 4em;
    }

div#footer{
    height: 2.8em;
    margin:2em 0 0 0;
    background:#bae9ff;
    border-top:5px solid #e5f7ff;
    line-height:2.8em;
    padding:0 2em 0 2em;
    font-size:9px;
    }

div#sf-donate-button{
    float: right;
    padding: 0 5em 0 0;
    }
