[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
X-Ubuntu-Touch=true
Name=Trojitá (Ubuntu Components)
Name[da]=Trojitá (Ubuntu-komponenter)
Name[de]=Trojitá (Ubuntu -Komponenten)
Name[fi]=Trojitá (Ubuntu-komponentit)
Name[nds]=Trojitá (Ubuntu-Delen)
Name[nl]=Trojitá (Ubuntu componenten)
Name[pl]=Trojitá (Składniki Ubuntu)
Name[pt]=Trojitá (Componentes do Ubuntu)
Name[pt_BR]=Trojitá (Componentes do Ubuntu)
Name[sk]=Trojitá (Ubuntu komponenty)
Name[sv]=Trojitá (Ubuntu-komponenter)
Name[uk]=Trojitá (компоненти для Ubuntu)
Name[x-test]=xxTrojitá (Ubuntu Components)xx
Keywords=mail;e-mail;IMAP;SMTP;eml;MUA;
Keywords[da]=mail;e-mail;IMAP;SMTP;eml;MUA;
Keywords[de]=mail;e-mail;IMAP;SMTP;eml;MUA;
Keywords[fi]=mail;e-mail;posti,sähköposti;IMAP;SMTP;eml;MUA;
Keywords[nds]=Nettpost;IMAP;SMTP;eml;MUA;
Keywords[nl]=mail;e-mail;e-mailbericht;IMAP;SMTP;eml;MUA;
Keywords[pl]=mail;e-mail;IMAP;SMTP;eml;MUA;
Keywords[pt]=correio;e-mail;IMAP;SMTP;eml;MUA;
Keywords[pt_BR]=mail;e-mail;email;IMAP;SMTP;eml;MUA;
Keywords[sk]=mail;e-mail;IMAP;SMTP;eml;MUA;
Keywords[sv]=brev;e-post;IMAP;SMTP;eml;MUA;
Keywords[uk]=mail;e-mail;IMAP;SMTP;eml;MUA;пошта;електронна;емейл;імейл;імап;аймап;смтп;емл;
Keywords[x-test]=xxmail;e-mail;IMAP;SMTP;eml;MUA;xx
Exec=trojita-ubu
Icon=/usr/share/icons/hicolor/64x64/apps/trojita-ubu.png
